
<div class="mt-3">
    <div class="row ">
        <div class="col-md-5 card mt-1 container shadow-lg p-3 mb-5 bg-body rounded mt-5" >
            <div class="card-body body1" >
                <div class="card">
                    <div class="card-body shadow-sm p-3  bg-body rounded">
                        <h1 class="text-primary text-center ">Quên mật khẩu</h1>
                    </div>
                </div>
                <form name="formforgot">
                    <label class="text-primary mt-3">Tài khoản</label>
                    <div class=" mt-2">
                        <input type="text" ng-model="username" name="txtUser" class="form-control a border-primary" required>
                        <span class="text-danger" ng-show="formforgot.txtUser.$invalid">Vui lòng nhập tài khoản</span>
                    </div>
                    <label class="text-primary">email</label>
                    <div class=" mt-2">
                        <input type="email" ng-model="email" class="form-control border-primary">
                        <span class="text-danger" ng-show="formforgot.txtUser.$invalid">Vui lòng nhập email</span>
                    </div>
                    <div class="text-center mt-2">
                       <button ng-click="forgot()" type="button" ng-disabled="formforgot.$invalid" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleMo">
                      Submit
                    </button>
                    <!-- <div class="modal fade"  id="exampleMo" tabindex="-1" aria-labelledby="exampleModalL" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalL">Quên mật khẩu</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <p >Mật khẩu của bạn là:{{pass}}</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                          </div>
                        </div>
                      </div>
                    </div> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</div>
