<style>
  
  .subject{
    background-color: white;
    transition: transform ease 2s;
    border: 1px dotted rgb(51, 47, 47);
  }
  
  .subject:hover{
    
    transform: scale(1.1);
  }
</style>
<div  class="bg-ligth">
  <div class="main mt-5" style="height: 320px;  background-image: url(/images/istockphoto-1286823569-612x612.jpg);
  background-attachment: fixed;">    
    <div class="col-12  pt-5 text-center banner" >
      <h1 class="font-weight-bold text-center" >Trang thi trắc nghiệm trực tuyến</h1>
          <h6 class="text-white text-center">Để đạt được kết quả tốt trong mọi công việc bạn cần xác định mục tiêu cho rõ ràng.Học lập trình cũng không là ngoại lệ</h6>
          <h6 class="mb-4 text-white text-center" >Để bắt đầu bài thi bạn vui lòng đăng nhập hoặc đăng kí.</h6>       
      <!-- <button type="button" class="btn btn-primary btn-rounded" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Đăng nhập
      </button>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Đăng nhập</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="tra frm" name="frmLogin">
                <div class="text-center mt-2">
                    <img src="/images/user.png" alt="">
                </div>
                <div class="form-group mt-2">       
                    <input type="text" class="form-control border-warning form-rounded tex-warning my-2 mt-4" ng-model="username" name="txtUser" placeholder="Tài khoản" required>
                    <span class="text-danger ms-2" ng-show="frmLogin.txtUser.$invalid">Vui lòng nhập tài khoản</span>
                </div>
                <div class="form-group mt-2">
                    <input type="password" class="form-control border-warning form-rounded my-2 mt-4" ng-model="password" name="txtPass" placeholder="Mật khẩu" required>
                    <span class="text-danger ms-2" ng-show="frmLogin.txtPass.$invalid">Vui lòng nhập mật khẩu</span>
                </div>
                <div class="text-center mt-2">
                    <button class="btn btn-warning btn-rounded " ng-disabled="frmLogin.$invalid" ng-click="login()">Đăng nhập</button>
                </div>
            </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Đăng nhập</button>
            </div>
          </div>
        </div>
      </div> -->
          <a class="btn btn-primary btn-rounded" ng-show="student==null" href="#login" >Đăng nhập</a>
          <a class="btn btn-success btn-rounded" ng-show="student==null" href="#register" >Đăng kí</a>
    </div>
    
  </div>
</div>
<div class="container">
  
  <div class="row bg-white mt-2 mb-2 rounded">
    <div class="col-12 mt-5" >
      <h1 class="text-center text-warning"> FPT POLY TECHNICH THÔNG  BÁO  TUYỂN SINH NĂM 2022</h1>
      <h4 class="text-center">Tuyển sinh khoá 18.2.1</h4>
      <h6 class="text-warning">ĐỐI TƯỢNG</h6>
      <p>Thí sinh thuộc một trong các đối tượng sau sẽ đủ điều kiện trở thành sinh viên của Cao đẳng FPT Polytechnic:</p>
      <ul>
        <li>Tốt nghiệp THPT hoặc tương đương;</li>
        <li>Sinh viên hệ chính quy các trường Cao đẳng, Đại học.</li>
        <li>Sinh viên đã hoàn thành chương trình Trung cấp và đã có bằng tốt nghiệp THPT hoặc tương đương.</li>
      </ul>
      <h6 class="text-warning">HÌNH THỨC</h6>
      <P>XÉT TUYỂN HỒ SƠ</P>
      <h6 class="text-warning">THỜI GIAN ĐÀO TẠO</h6>
      <p> 2 năm 4 tháng, gồm 7 học kỳ liên tục.  </p>
      <div class="row">
        <div class="col-12 col-md-3">
          <p class="text-warning">Ngành công nghệ thông tin:</p>
          <ul>
            <li>Ứng dụng phần mềm</li>
            <li>Phát triển phần mềm</li>
            <li>Lập trình Web</li>
            <li>Lập trình mobile</li>
            <li>Xử lý dữ liệu (dự kiến)</li>
          </ul>
        </div>
        <div class="col-12 col-md-3">
          <p class="text-warning">Ngành công nghệ thông tin:</p>
          <ul>
            <li>Ứng dụng phần mềm</li>
            <li>Phát triển phần mềm</li>
            <li>Lập trình Web</li>
            <li>Lập trình mobile</li>
            <li>Xử lý dữ liệu (dự kiến)</li>
          </ul>
        </div>
        <div class="col-12 col-md-3">
          <p class="text-warning">Ngành công nghệ thông tin:</p>
          <ul>
            <li>Ứng dụng phần mềm</li>
            <li>Phát triển phần mềm</li>
            <li>Lập trình Web</li>
            <li>Lập trình mobile</li>
            <li>Xử lý dữ liệu (dự kiến)</li>
          </ul>
        </div>
        <div class="col-12 col-md-3">
          <p class="text-warning">Ngành công nghệ thông tin:</p>
          <ul>
            <li>Ứng dụng phần mềm</li>
            <li>Phát triển phần mềm</li>
            <li>Lập trình Web</li>
            <li>Lập trình mobile</li>
            <li>Xử lý dữ liệu (dự kiến)</li>
          </ul>
        </div>
      </div>
      
    </div>
  </div>
</div>


</div>
<div class="" style="background-image: url(/images/FPT_polytechnic_banner-1.jfif);height:480px;background-size: 100%;background-repeat: no-repeat;background-position: 0;">
</div>
<div class="text-center m-4">
  <h4 class="m-4 text-danger">ĐỐI TÁC</h4> 
  <div class="row text-center">
   <div class="col-6 col-md-3">
     <div class="card">
      <div class="card-body row">
        <img src="/images/canon.jpg" >
      </div>
     </div>
     
   </div>
   <div class="col-6 col-md-3">
    <div class="card">
     <div class="card-body row">
       <img src="/images/coccoc.jpg" >
     </div>
    </div>
    
  </div>
  <div class="col-6 col-md-3">
    <div class="card">
     <div class="card-body row">
       <img src="/images/fshop.jpg" >
     </div>
    </div>
    
  </div>
  <div class="col-6 col-md-3">
    <div class="card">
     <div class="card-body row">
       <img src="/images/Fsoft.jpg" >
     </div>
    </div>
    
  </div>
    
    
    <!-- <div class="col-6 col-sm-3 col-lg-2">
      <img src="/images/Eden-3-e1503387601339.jpg" alt="">
    </div>
    <div class="col-6 col-sm-3 col-lg-2">
      <img src="/images/queen-2-e1503387568468.png" alt="">
    </div>
    <div class="col-6 col-sm-3 col-lg-2">
      <img src="/images/carevell-1.jpg" alt="">
    </div>
    <div class="col-6 col-sm-3 col-lg-2">
      <img src="/images/TNHH-MTV-DỊCH-VỤ-VIỄN-THÔNG-PHƯƠNG-NAM.png" alt="">
    </div>
    <div class="col-6 col-sm-3 col-lg-2">
      <img src="/images/Gopatel-e1503029897243.png ">
    </div>
    <div class="col-6 col-sm-3 col-lg-2">
      <img src="/images/Fsoft.jpg">
    </div>
    <div class="col-6 col-sm-3 col-lg-2">
      <img src="/images/VNP.jpg" alt="">
    </div>
    <div class="col-6 col-sm-3 col-lg-2">
      <img src="/images/Logo-Nguyen-Kim-e1503388088833.jpg" alt="">
    </div>
    <div class="col-6 col-sm-3 col-lg-2">
      <img src="/images/fshop.jpg" alt="">
    </div>
    <div class="col-6 col-sm-3 col-lg-2">
      <img src="/images/Allgrow-Labo-e1503387677754.png" alt="">
    </div>
    <div class="col-6 col-sm-3 col-lg-2">
      <img src="/images/Smartnet-e1503387655439.png ">
    </div> -->
   
    
  </div>
</div>        
</div>
</div>


